body {
    background-image: url("../resources/backgrounds/background-home-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.options {
    display: flex;
    font-size: 23px;
    margin-top: 5%;
    justify-content: space-around;
}

.options a {
    text-decoration: underline;
    color: inherit;
}

.latest-updates {
    position: relative;
    width: 25%;
    top: 725px;
}

.footer {
    position: relative;
    width: 20%;
    top: 680px;
    left: 45%;
}

.footer a {
    font-size: 23px;
    text-decoration: underline;
    color: white;
}